:root {
    --mainColor: #54357f;
    --black: black;
    --white: white;
    --red: rgb(158,0,0);
    --warning-red: #d42121;
    --warning-orange: #d87300;
    --all-good-green: #058d00;
    --light-blue: #462c6a;
    --dul-accent: #bca7da;
    --email-color: #ff6a6a;
    --sms-color: #2196F3;
    --call-color: #4CAF50;
    --light-grey: #f1f1f1;
}
#BottomNavBar {
    padding-top: 7px;
    padding-bottom: 16px;
    z-index: 9999999;
}
.w3-email-color {
    color: var(--white);
    background-color: var(--email-color) !important;
}
.w3-text-email-color {
    color: var(--email-color) !important;
}
.w3-sms-color {
    color: var(--white);
    background-color: var(--sms-color) !important;
}
.w3-text-sms-color {
    color: var(--sms-color) !important;
}
.w3-call-color {
    color: var(--white);
    background-color: var(--call-color) !important;
}
.w3-text-call-color {
    color: var(--call-color) !important;
}
.w3-blue {
    background-color: var(--light-blue) !important;
}
.w3-red {
    background-color: var(--red) !important;
}
.w3-text-red {
    color: var(--red) !important;
}

.w3-dot {
    background-color: #ffa514;
}

.w3-area-blue {
    background-color: var(--mainColor);
}
.w3-text-area-blue {
    color: var(--mainColor);
}

.w3-notification-dot {
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translate(7px, -31px);    
}

.w3-sync-claim {
    background-color: var(--dul-accent);
}

html, body {
    overscroll-behavior: none;
    width: 100%;
    height: 100%;
}

.person-to-click * {
    pointer-events: none;
}

a:not(.uline) {
    text-decoration: none;
}
a.uline {
    color: #0000EE;
}
.w3-card-subtle {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
}

.w3-gray-opacity {
    background-color:rgb(79, 77, 77);opacity:0.6;
}
.w3-white {
    color: var(--black) !important;
    background-color: var(--white) !important;
}

.w3-center-absolute {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.w3-huge {
    font-size: 200px;
}

.w3-icon-shadow {
    box-shadow: 1px 1px 7px -3px;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #dbdbdb transparent #dbdbdb transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --light-grey: #5f5f5f;
        --white: rgb(24, 24, 24);
        --black: white;
    }
    body {
        background-color: rgb(24, 24, 24);
    }
    .w3-light-gray {
        background-color: #4d4d4d !important;
        color: #e3e3e3 !important;
    }
    .w3-text-dark-gray {
        color: #f5f5f5 !important;
    }
    a.uline {
        color: #0097ee;
    }
    .w3-text-area-blue {
        color: #b989fd;
    }
    .w3-sync-claim {
        background-color: #664b8d;
    }
}

#arealoginbuttons { padding: 15%; }
#arealoginbuttons button {
    width: 100%;
    font-size: 24px;
    border-radius: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 8px 16px;
    margin-top: 30px;
}

#arealoginbuttons button:nth-child(1) {
    background-color: #ea9999;
}

#arealoginbuttons button:nth-child(2) {
    background-color: #f9cb9c;
}

#arealoginbuttons button:nth-child(3) {
    background-color: #ffe599;
}

#arealoginbuttons button:nth-child(4) {
    background-color: #b6d7a8;
}

#arealoginbuttons button:nth-child(5) {
    background-color: #a4c2f4;
}

#arealoginbuttons button:nth-child(6) {
    background-color: #b4a7d6;
}

#arealoginbuttons button:nth-child(7) {
    background-color: #d5a6bd;
}

#arealoginbuttons button:nth-child(8) {
    background-color: #c5ff8a;
}

#arealoginbuttons button:nth-child(9) {
    background-color: #a2c4c9;
}

#arealoginbuttons div:nth-child(10) button {
    background-color: #ff42ec;
}