:root {
    --mainColor: #54357f;
    --black: black;
    --white: white;
    --red: rgb(158,0,0);
    --pure-red: rgb(225, 0, 0);
    --warning-red: #d42121;
    --warning-orange: #ff9317;
    --warning-orange-light: #ff931729;
    --all-good-green: #058d00;
    --light-blue: #462c6a;
    --dul-accent: #bca7da;
    --very-light-purple: #a05cff;
    --email-color: #ff6a6a;
    --sms-color: #2196F3;
    --call-color: #4CAF50;
    --light-grey: #f1f1f1;
    --business-suite-defualt-icon: none;
    --business-suite-active-icon: invert(23%) sepia(17%) saturate(3408%) hue-rotate(232deg) brightness(92%) contrast(91%);
}
tabsheader {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
}
tabsheader tab button {
    width: 100%;
    text-align: center;
    background-color: inherit;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0;
}
tabsheader tab {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 20px;
}
tabsheader tab.active {
    background-color: #462c6a;
    border-bottom: 5px solid white;
}
.dangerBtn {
    border: none;
    color: #ff4f4f;
    border-radius: 4px;
    padding: 4px 20px;
    margin: 10px;
    background-color: var(--light-grey);
}
.notice {
    width: 100%;
    padding: 10px;
    background-color: var(--warning-orange-light);
    border-left: 7px solid var(--warning-orange);
    box-shadow: 1px 2px 10px -7px rgba(0, 0, 0, 0.5);
}
.notice .closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.bottomNavBtnParent {
    text-align: center;
    float: left;
    width: calc(100% / 5);
    font-size: 27px;
}
#BottomNavBar {
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9999999;
    background-color: var(--light-grey);
    color: var(--black);
    bottom: 2px;
    position: fixed;
    width: calc(100% - 20px);
    min-height: 63px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 0px 35px -20px var(--mainColor);
}
#bottomNavGradient {
    width: 100%;
    height: 65px;
    position: fixed;
    bottom: 0;
    background: linear-gradient(0, var(--white), transparent);
}
.bottomNavBtnParent a div {
    display: none;
}
.purpleBtn {
    background: linear-gradient(140deg, rgba(232,133,208,1) -20%, rgb(196 167 217) 100%);
    background-color: #BBA7DA;
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 2px 10px -7px rgba(0, 0, 0, 0.5);
}
#loadingcover > div {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999999;
}
#loadingcover > i {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    z-index: 15;
}
#topHeaderBar {
    font-family: 'Advent Pro';
    box-shadow: 0px 0px 17px -10px black;
}
#topHeaderBar > div:first-child {
    letter-spacing: 0.15em;
    background-color: var(--mainColor);
    color: #fff;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    text-align: center;
    padding: 0.01em 16px;
    font-size: 30px;
}
.w3-email-color {
    color: var(--white);
    background-color: var(--email-color) !important;
}
.w3-text-email-color {
    color: var(--email-color) !important;
}
.w3-sms-color {
    color: var(--white);
    background-color: var(--sms-color) !important;
}
.w3-text-sms-color {
    color: var(--sms-color) !important;
}
.w3-call-color {
    color: var(--white);
    background-color: var(--call-color) !important;
}
.w3-text-call-color {
    color: var(--call-color) !important;
}
.w3-blue {
    background-color: var(--light-blue) !important;
}
.w3-red {
    background-color: var(--pure-red) !important;
}
.w3-text-red {
    color: var(--pure-red) !important;
}

.w3-dot {
    background-color: #ffa514;
}

.w3-area-blue {
    background-color: var(--mainColor);
}
.w3-text-area-blue {
    color: var(--mainColor);
}

.w3-notification-dot {
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translate(12px, -36px);
    box-shadow: 0px 0px 10px -2px black;
}

.w3-sync-claim {
    background-color: var(--dul-accent);
}

html, body {
    overscroll-behavior: none;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.person-to-click * {
    pointer-events: none;
}

a:not(.uline) {
    text-decoration: none;
}
a.uline {
    color: #0000EE;
}
.w3-card-subtle {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
}

.w3-gray-opacity {
    background-color:rgb(79, 77, 77);opacity:0.6;
}
.w3-white {
    color: var(--black) !important;
    background-color: var(--white) !important;
}
.prankedNumberWarning {
    text-decoration: line-through 2px var(--warning-red);
    opacity: 0.5;
}
#debug-table {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999999999999999999999999999999999999999999;
    background-color: transparent;
    pointer-events: none;
    color: black;
    padding: 0;
    font-size: 10px;
}
#debug-table.active {
    background-color: rgba(195, 195, 195, 0.747);
}
#debug-table .item {
    margin: 0;
    display: flex;
    padding: 2px 10px;
}
#debug-table .item:nth-child(odd) {
    background-color: rgba(255, 255, 255, .61);
}
#debug-table .item .msg {
    flex: 1;
}
#debug-table .item .link {
    text-decoration: underline;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

#bigBtnsTable {
    width: 100%;
    height: 200px;
    position: relative;
}
#bigBtnsTable tr td {
    padding: 5px;
    width: 33%;
    height: 25%;
}
.bigTipBtn {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 2px 10px -7px black;
}
.bigTipBtn i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 52px), -50%);
    font-size: 40px;
}
.bigTipBtn .caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.full_width_home_btn {
    height: 80px;
    padding: 5px;
}
.full_width_home_btn div a {
    border: 1px solid #f2bfff;
}
#google_slides_import {
    position: relative;
    border: none;
    width: 100%;
    height: calc(100% - 89px);
    z-index: 1;
}

.contactDotBeenAttempted {
    background-color: var(--call-color) !important;
}
#attemptLog {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px;
}
#attemptLog tr:first-child {
    font-size: small;
    text-align: center;
    opacity: 0.6;
}
#attemptLog .attemptDot {
    margin-left: 5px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    outline: none;
    background-color: var(--white);
}
.scriptureOfDay {
    background-color: #f5f5f5;
    padding: 5px;
    margin: 0px;
}

#leaderboardBtn {
    background: linear-gradient(140deg, rgba(232,133,208,1) -20%, rgb(196 167 217) 100%);
    background-color: #BBA7DA;
    border: none;
    cursor: pointer;
    padding: 3px;
    color: #fff;
    box-shadow: 1px 2px 10px -7px rgba(0, 0, 0, 0.5);
}

#pin-code.shake {
    animation: horizontal-shaking 0.3s ease-in-out infinite;
}
#pin-code {
    animation: idle-shaking 0.1s linear infinite;
    width: 50%;
}
#pin-code td {
    height: 100px;
    width: 25%;
    text-align: center;
    font-size: 40px;
}
#referralSearchbar {
    width: 100%;
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(10px) }
    50% { transform: translateX(-7px) }
    75% { transform: translateX(10px) }
    100% { transform: translateX(0) }
}
@keyframes idle-shaking { 100% {transform: translateX(17)} }

.w3-center-absolute {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.w3-huge {
    font-size: 200px;
}

.w3-icon-shadow {
    box-shadow: 1px 1px 7px -3px;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #dbdbdb transparent #dbdbdb transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --light-grey: #5f5f5f;
        --white: rgb(24, 24, 24);
        --black: white;
        --very-light-purple: #58328f;
        --business-suite-defualt-icon: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
        --business-suite-active-icon: brightness(0) saturate(100%) invert(63%) sepia(68%) saturate(2997%) hue-rotate(219deg) brightness(103%) contrast(98%);
    }
    body {
        background-color: rgb(24, 24, 24);
    }
    .w3-light-gray {
        background-color: #4d4d4d !important;
        color: #e3e3e3 !important;
    }
    .w3-text-dark-gray {
        color: #f5f5f5 !important;
    }
    a.uline {
        color: #0097ee;
    }
    .w3-text-area-blue {
        color: #b989fd;
    }
    .w3-sync-claim {
        background-color: #664b8d;
    }
}

#arealoginbuttons { padding: 35px 15% 50px 15% }
#arealoginbuttons button {
    width: 100%;
    font-size: 24px;
    border-radius: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 8px 16px;
    margin-top: 30px;
}

#arealoginbuttons button:nth-child(even) {
    background-color: #ddd4ff;
}

#arealoginbuttons button:nth-child(odd) {
    background-color: #f4c7ff;
}